page-myhome {
    .a{
        position: absolute;
          top: 1%;
          right: 0%;
          font-size: 2.0em;
          width: 100%;
          font-weight: bold;
          color: #fff;
      }

}
