<ion-header>
  <ion-toolbar>
    <ion-title>Maintainance Bills</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-card (click)="pay()">
  <ion-card-header>
    <ion-card-subtitle>Maintainace Bill</ion-card-subtitle>
    <ion-card-title>April 2019</ion-card-title>
  </ion-card-header>

  <ion-card-content>
   <ion-list>
     <ion-item>
      <ion-label slot="start">Name</ion-label>
      <ion-label>{{name}}</ion-label>  
     </ion-item>
      <ion-item>
        <ion-label slot="start">Amount</ion-label>
        <ion-label>Rs 1000 </ion-label>
      </ion-item>
   </ion-list>
  </ion-card-content>
</ion-card>
</ion-content>
