
    .a {
        background-color: #E3F2FD;
    }
    .b {
        color:#2196F3;
    }
    .passwordIcon{
   font-size:2rem !important;
   position: relative !important;
   top: 22px !important;
   margin: 0 auto !important;
}
.c{
    color:red;
    margin-left:20px;
}


