<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="assets/imgs/icon.jpg">
  <h3 style="margin:10px;">
    Log in
  </h3>


   <ion-item class="a">
      <ion-label stacked>
        Email 
      </ion-label>
      <ion-input type="email" [(ngModel)]="email" placeholder="Enter email id"></ion-input>
   </ion-item >
  <ion-item class="a">
    <ion-label stacked>
      Password
    </ion-label>
  <ion-input placeholder="Enter password" [type]="passwordType" [(ngModel)]="password" clearOnEdit="false"></ion-input>
    <ion-button clear item-end (click)='hideShowPassword()' style="height:32px;">
      <ion-icon [name]="passwordIcon" style="font-size:32px;"></ion-icon>
      
    </ion-button>

  </ion-item>
<span class="c">Hint- Minimum 8 Characters Required</span>

  <ion-item class="a" lines="none">
    <p item-end class="b" (click)="changep()"> Forgot Password</p>
  </ion-item>
  <ion-item class="a" lines="none">
    <p item-end  class="b" (click)="signup()"> Not already registered? </p>
  </ion-item>
 
</ion-content>
<ion-footer>
  <ion-button block full large (click)="login()">
   LOG IN 
  </ion-button>
</ion-footer>
