<ion-header>
  <ion-toolbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col col-12>
      <ion-card text-center padding color="primary" (click)="society()">
        <ion-icon name="contact"></ion-icon>
        <h2>Society Contacts</h2>

      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12>
      <ion-card text-center padding color="primary" (click)="general()">
        <ion-icon name="call"></ion-icon>
        <h2>General Contacts</h2>
      </ion-card>
    </ion-col>
  </ion-row>
  </ion-grid>
  </ion-content>

