<ion-header>
  <ion-toolbar>
    <ion-title>General Contacts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-list>
  <ion-item>
    <ion-icon style="font-size: 45px;" name="contact" slot="start">
    </ion-icon>
    <ion-label text-wrap><b>Plumber</b></ion-label>
    <ion-label slot="end">022-235535</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon style="font-size: 45px;" name="contact" slot="start">
    </ion-icon>
    <ion-label text-wrap><b>Electrician</b></ion-label>
    <ion-label slot="end">022-236456</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon style="font-size: 45px;" name="contact" slot="start">
    </ion-icon>
    <ion-label text-wrap><b>Painter</b></ion-label>
    <ion-label slot="end">022-234563</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon style="font-size: 45px;" name="contact" slot="start">
    </ion-icon>
    <ion-label text-wrap><b>Watchman</b></ion-label>
    <ion-label slot="end">022-233456</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon style="font-size: 45px;" name="contact" slot="start">
    </ion-icon>
    <ion-label text-wrap><b>Fire Brigade</b></ion-label>
    <ion-label slot="end">022-233452</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon style="font-size: 45px;" name="contact" slot="start">
    </ion-icon>
    <ion-label text-wrap><b>Ambulance</b></ion-label>
    <ion-label slot="end">022-233422</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon style="font-size: 45px;" name="contact" slot="start">
    </ion-icon>
    <ion-label text-wrap><b>Police</b></ion-label>
    <ion-label slot="end">022-232222</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon style="font-size: 45px;" name="contact" slot="start">
    </ion-icon>
    <ion-label text-wrap><b>Supermarket</b></ion-label>
    <ion-label slot="end">022-232222</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon style="font-size: 45px;" name="contact" slot="start">
    </ion-icon>
    <ion-label text-wrap><b>Maid Service</b></ion-label>
    <ion-label slot="end">022-2322773</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon style="font-size: 45px;" name="contact" slot="start">
    </ion-icon>
    <ion-label text-wrap><b>Party Services</b></ion-label>
    <ion-label slot="end">022-336737</ion-label>
  </ion-item>
</ion-list>
</ion-content>
