<ion-header>
  <ion-toolbar>
    <ion-title>Patient Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item-divider>
      <ion-label text-wrap text-wrap>
       <b> Patient's Personal Details</b> 
      </ion-label>
    </ion-item-divider>

      <ion-item>
      <ion-label text-wrap text-wrap position="fixed">
        Patient Name
      </ion-label>
      <ion-input [(ngModel)]="thing.SensorName" required></ion-input>
    </ion-item>
   <ion-item>
      <ion-label text-wrap text-wrap position="fixed">
        Disorder
      </ion-label>
      <ion-input [(ngModel)]="thing.SensorName" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label text-wrap text-wrap position="fixed">
        Age
      </ion-label>
      <ion-input [(ngModel)]="thing.SensorName" required></ion-input>
    </ion-item>
      <ion-item>
      <ion-label text-wrap text-wrap position="fixed">
        Height
      </ion-label>
      <ion-input [(ngModel)]="thing.SensorName" required></ion-input>
    </ion-item>
      <ion-item>
      <ion-label text-wrap text-wrap position="fixed">
        Weight
      </ion-label>
      <ion-input [(ngModel)]="thing.SensorName" required></ion-input>
    </ion-item>
      <ion-item text-wrap>
      <ion-label text-wrap text-wrap position="fixed">
       Last Visited on:
      </ion-label>
      <ion-input [(ngModel)]="thing.SensorName" required></ion-input>
    </ion-item>
      <ion-item>
      <ion-label text-wrap text-wrap position="fixed">
        Ongoing Medicines
      </ion-label>
      <ion-input [(ngModel)]="thing.SensorName" required></ion-input>
    </ion-item>

    <ion-item-divider>
      <ion-label text-wrap text-wrap>
        Diagnosis
      </ion-label>
    </ion-item-divider>
    <ion-item text-wrap>
      <ion-label text-wrap text-wrap position="fixed">
        Dignosis Result
      </ion-label>
      <ion-input [(ngModel)]="thing.SensorName" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label text-wrap position="fixed">
       Suggestions (Diet and Exercise)
      </ion-label>
      <ion-input [(ngModel)]="thing.SensorName" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label text-wrap text-wrap position="fixed">
        Next Appointment Date
      </ion-label>
      <ion-input [(ngModel)]="thing.SensorName" required></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="register()" type="submit">
     Design Analyzer
    </ion-button>



    
   
  </ion-list>
  
  </ion-content>
  <ion-footer>
    <ion-button expand="block" (click)="register()" type="submit">
      CONTINUE
    </ion-button>
  </ion-footer>
  
